# -*- coding: utf-8 -*-
mkdocs >= 1.5.0
mkdocs-material >= 9.4.0
mike @ git+https://github.com/jimporter/mike.git@be1aafe244bc86172fbce52a903c9ab83e2e4a26
mkdocs-exclude
mkdocs-awesome-pages-plugin
mkdocs-redirects
pymdown-extensions >= 9.10
